includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - app
        - config
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#does not specify its types: TFactory#'
            paths:
                - app/Models/*
        -
            message: '#Call to an undefined static method App\\Models\\(Entry|Collection|Tag)::(query|where|orderBy|selectRaw|whereNotNull)#'
            paths:
                - app/Services/*
                - app/Commands/*
        -
            message: '#Only booleans are allowed in (an if condition|&&)#'
            paths:
                - app/Services/*