includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - app
        - config
    treatPhpDocTypesAsCertain: false
    tmpDir: var/cache/phpstan
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        -
            message: '#does not specify its types: TFactory#'
            paths:
                - app/Models/*
        -
            message: '#Only booleans are allowed in (an if condition|&&)#'
            paths:
                - app/Services/*