includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - app
        - config
    ignoreErrors:
        -
            message: '#does not specify its types: TFactory#'
            paths:
                - app/Models/*